# Julia

In [2]:
function confirm_julia()
    "Julia Confirmed"
end

confirm_julia (generic function with 1 method)

In [3]:
confirm_julia()

"Julia Confirmed"

In [4]:
using RDatasets
using PyCall
using DataFrames
using NamedArrays

mtcars = dataset("datasets", "mtcars")

32×12 DataFrame
 Row │ Model              MPG      Cyl    Disp     HP     DRat     WT       QS ⋯
     │ String31           Float64  Int64  Float64  Int64  Float64  Float64  Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Mazda RX4             21.0      6    160.0    110     3.9     2.62      ⋯
   2 │ Mazda RX4 Wag         21.0      6    160.0    110     3.9     2.875
   3 │ Datsun 710            22.8      4    108.0     93     3.85    2.32
   4 │ Hornet 4 Drive        21.4      6    258.0    110     3.08    3.215
   5 │ Hornet Sportabout     18.7      8    360.0    175     3.15    3.44      ⋯
   6 │ Valiant               18.1      6    225.0    105     2.76    3.46
   7 │ Duster 360            14.3      8    360.0    245     3.21    3.57
   8 │ Merc 240D             24.4      4    146.7     62     3.69    3.19
   9 │ Merc 230              22.8      4    140.8     95     3.92    3.15      ⋯
  10 │ Merc 280              19.2      6    167.6    123     3.92    3.44
  11 │ Merc 280C             17.8      6    167.6    123     3.92    3.44
  ⋮  │         ⋮             ⋮       ⋮       ⋮       ⋮       ⋮        ⋮        ⋱
  23 │ AMC Javelin           15.2      8    304.0    150     3.15    3.435
  24 │ Camaro Z28            13.3      8    350.0    245     3.73    3.84      ⋯
  25 │ Pontiac Firebird      19.2      8    400.0    175     3.08    3.845
  26 │ Fiat X1-9             27.3      4     79.0     66     4.08    1.935
  27 │ Porsche 914-2         26.0      4    120.3     91     4.43    2.14
  28 │ Lotus Europa          30.4      4     95.1    113     3.77    1.513     ⋯
  29 │ Ford Pantera L        15.8      8    351.0    264     4.22    3.17
  30 │ Ferrari Dino          19.7      6    145.0    175     3.62    2.77
  31 │ Maserati Bora         15.0      8    301.0    335     3.54    3.57
  32 │ Volvo 142E            21.4      4    121.0    109     4.11    2.78      ⋯
                                                   5 columns and 11 rows omitted

In [49]:
function pyTable(df)
    py"""
    
   from julia import Main as jl
   import pandas as pd
   jl.eval('using Pandas')
   res = jl.eval('DataFrame(Dict(:age=>[27, 29, 27], :name=>["James", "Jill", "Jake"]))')
   print(jl.typeof(res))


    """py
end

pyTable(mtcars)